header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
body {
    display: grid;
    grid-template-columns: 200px  1fr;
    grid-template-rows: 45px 1fr 200px;
    grid-template-areas: 
    "nav nav"
    "header header"
    "aside main"
    "footer footer";
}
nav {
    height: 40px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
    border: 5px solid;
    padding-right: 10px
}

