* {
    margin: 0;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("background img.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
#clock {
    font-family: Bahnschrift;
    font-size: 5rem;
    color: hsl(0, 0%, 100%);

}
