#container{
    text-align: center;
    font-size: 1.5rem;   
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
#numOfDice{
    text-align: center;
    font-size: 1.3rem;
}
button {
    font-size: 1.5rem;
    width: 15vw;
    margin: 20px;
}

#diceImg img {
    width: 100px;
    margin: 10px;
}